* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

* a {
  text-decoration: none;
}

.blackpink {
  background-color: #212121;
  color: #E91E63;
}

.pinkblack {
  background-color: #E91E63;
  color: #212121;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.8125rem;
  width: 100%;
}

.navbar__menu-btn {
  height: 2.1875rem;
  width: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: .625rem;
  cursor: pointer;
}

.navbar__menu-burger {
  width: 1.875rem;
  height: .25rem;
  border-radius: 3px;
  background-color: #fff;
}

.navbar__menu-burger::before, .navbar__menu-burger::after {
  content: '';
  position: absolute;
  width: 1.875rem;
  height: .25rem;
  border-radius: 3px;
  background-color: #fff;
}

.navbar__menu-burger::before {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

.navbar__menu-burger::after {
  -webkit-transform: translateY(0.625rem);
          transform: translateY(0.625rem);
}

.navbar-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.8125rem;
  width: 100%;
}

.navbar-2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E91E63;
  color: #212121;
  height: 100%;
  padding: 0 .625rem;
}

.navbar-2__menu-btn {
  height: 2.1875rem;
  width: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .625rem;
  cursor: pointer;
}

.navbar-2__menu-burger {
  width: 1.875rem;
  height: .25rem;
  border-radius: 3px;
  background-color: #fff;
}

.navbar-2__menu-burger::before, .navbar-2__menu-burger::after {
  content: '';
  position: absolute;
  width: 1.875rem;
  height: .25rem;
  border-radius: 3px;
  background-color: #fff;
}

.navbar-2__menu-burger::before {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

.navbar-2__menu-burger::after {
  -webkit-transform: translateY(0.625rem);
          transform: translateY(0.625rem);
}

p {
  margin-left: 10px;
  text-transform: uppercase;
}

.spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list li {
  list-style: none;
  width: 50px;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */