// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  
  a {
    text-decoration: none;
  }
}

@import './color';
@import './components/navbar';

p {
  margin-left: 10px;
  text-transform: uppercase;
}

.spacer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.list {
  display: flex;
  justify-content: space-between;

  & li {
    list-style: none;
    width: 50px;
    height: 100%;
  }
}
