// NAVBAR-1
.navbar {
  display: flex;
  align-items: center;

  height: 2.8125rem;
  width: 100%;

  &__menu-btn {
    height: 2.1875rem;
    width: 2.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: .625rem;
    cursor: pointer;
  }

  &__menu-burger {
    width: 1.875rem;
    height: .25rem;
    border-radius: 3px;
    background-color: #fff;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1.875rem;
      height: .25rem;
      border-radius: 3px;
      background-color: #fff;
    }

    &::before {
      transform: translateY(-.625rem);
    }

    &::after {
      transform: translateY(.625rem);
    }
  }
}

// NAVBAR-2
.navbar-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 2.8125rem;
  width: 100%;

  a {
    display: none;
  }

  &__menu-btn {
    height: 2.1875rem;
    width: 2.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .625rem;
    cursor: pointer;
  }

  &__menu-burger {
    width: 1.875rem;
    height: .25rem;
    border-radius: 3px;
    background-color: #fff;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1.875rem;
      height: .25rem;
      border-radius: 3px;
      background-color: #fff;
    }

    &::before {
      transform: translateY(-.625rem);
    }

    &::after {
      transform: translateY(.625rem);
    }
  }
}

.menu-open {
  display: flex;
}

@media only screen and (min-width: 900px) {
  .navbar-2 {
    &__menu-btn,
    &__menu-burger {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      background-color: $pink-primary;
      color: whitesmoke;
      text-transform: uppercase;
      height: 100%;
      padding: 0 .625rem;
    }

    .end {
      margin-right: .625rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-2 {
    a {
      padding: 0 1rem;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .navbar-2 {
    a {
      padding: 0 1.5rem;
    }
  }
}